/* START: Global Styles */

/* END: Global Styles */

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --accent-color: #f5f5f5;
  --primary-color-lighter: hsl(0, 0%, 20%);
  --secondary-color-darker: hsl(0, 0%, 90%);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #fff;
  color: #000;
  cursor: default;
}

main {
  /*I fucking dug my own grave here, i thought it was the z-index or header's problem but it's me*/
  position: relative;
}

h1 {
  /*This is for the hero section's header cuz this summarizes the purpose of the website*/
  font-size: clamp(1.5rem, 3vw, 4rem);
  font-weight: 650;
}

h2 {
  font-size: clamp(1.4rem, 2.55vw, 3.4rem);
  font-weight: 650;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

h4 {
  font-size: clamp(13px, 0.93vw, 1rem);
  font-weight: 600;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

p,
a {
  font-size: 12px;
}

/* a:hover {
  text-decoration: underline;
  color: #0000ff;
  cursor: pointer;
} */

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
}

button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.6rem 1.3rem;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color-lighter);
}

/* START: Utility Styles */

.container {
  max-width: 1500px;
  padding-inline: 1rem;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.center-xy {
  justify-content: center;
  align-items: center;
}

.center-x {
  justify-content: center;
}

.center-y {
  align-items: center;
}

.jsb {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.abs {
  position: absolute;
}

.transparent-bg {
  background-color: transparent;
}

.lbg-hover:hover {
  background-color: var(--primary-color-lighter);
}

/* FEATURE: Hover double and Focus underline effect */

.underlined-btn,
.focus-un-btn {
  color: var(--primary-color);
  background-color: transparent;
}

.underlined-btn:hover,
.focus-un-btn:hover {
  background-color: transparent;
}

.dynamic-un {
  position: relative;
  cursor: pointer;
}

.static-un {
  /*this is the acting underline for the button*/
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--primary-color);
  width: 100%;
  left: 0;
  bottom: -5px;
}

.dynamic-un::after {
  /*this will be the one appearing on hover*/
  content: "";
  height: 3px;
  bottom: -5px;
  left: 50%;
  position: absolute;
  background: var(--primary-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

/* BRO THIS IS HOLY GRAIL - The juice behind the two features above*/

.underlined-btn:hover .static-un {
  opacity: 0; /* Hide the acting underline on hover */
}

.underlined-btn:hover .dynamic-un::after,
.focus-un-btn:focus .dynamic-un::after {
  /*Show the underline hover effect*/
  width: 100%;
  left: 0;
}

/* FEATURE: hyperlink arrow */

.arrow-link {
  display: flex;
  align-items: center;
}

/* FEATURE: Keyword buttons */

.keyword-btn {
  color: var(--primary-color);
  background-color: transparent;
  border: 0.3px solid #ccc;
  padding: 0.3rem 0.7rem;
}

.keyword-btn:hover {
  background-color: var(--secondary-color-darker);
}

.hide {
  display: none;
}

/* .bold-p {
  font-weight: 600;
}

.large-p {
  font-size: clamp(14px, 1vw, 2);
} */

/* END: Utility Styles */

/* START: Header Styles */

header {
  position: relative;
  z-index: 13;
}

nav {
  justify-content: space-between;
}

.nav-bar {
  gap: 2rem;
  align-items: center;
}

header .container button {
  font-weight: 550;
  font-size: clamp(0.77rem, 0.93vw, 1rem);
  background-color: transparent;
  color: var(--primary-color);
  padding: 0.4rem 0.6rem;
}

.dropdown-menu:hover button,
.no-dropdown:hover button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.container .icons button:hover {
  background-color: transparent;
}

/* FEATURE: Dropdown menu */

.left-start {
  left: 4%;
}

.right-start {
  right: 4%;
}

.dropdown-menu,
.no-dropdown,
.no-overlay,
.normal-menu {
  min-height: 70px;
  display: flex;
  align-items: center;
  z-index: 12;
}

.content {
  position: absolute;
  background-color: var(--secondary-color);
  gap: 10px;
  top: 70px;
  border-radius: 0 0 20px 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.content-wrapper {
  margin: 1rem 4.5rem 2rem 1.5rem;
  gap: 4rem;
}

.content-wrapper li a:hover {
  text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
  cursor: pointer;
}

.sub-menu {
  gap: 1rem;
}

.sub-menu .flex {
  gap: 0.9rem;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.5px; /* Border height */
  background-color: #ccc; /* Border color */
}

.dropdown-menu:hover .content,
.no-overlay:hover .content {
  max-height: 800px;
  /* z-index: 7; */
}

.nav-overlay,
.search-overlay,
.menu-overlay {
  position: absolute; /* Use absolute positioning to cover the entire viewport */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out; /* Transition opacity for smooth effect */
  pointer-events: none; /* Ensure it doesn't block mouse events when not visible */
  /* z-index: 6; */
}

.nav-overlay.active {
  opacity: 0.6; /* Set opacity to 0.6 when active */
  pointer-events: auto;
  z-index: 10;
  /* Ensure it appears above other elements */
}

.menu-overlay.active {
  opacity: 0.8;
  pointer-events: auto;
}

/* Specification for dropdown menu */

.normal-font li a {
  font-size: clamp(14px, 0.93vw, 1rem);
}

.sub-menu .normal-font {
  gap: 0.7rem;
}

.mobile .content-wrapper {
  margin-right: 1rem;
  margin-top: 0.8rem;
  gap: 3.7rem;
}

.cards-container {
  margin-top: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.8rem;
}

.mobiledd-product:hover {
  cursor: pointer;
}

.mobiledd-img img {
  transition: transform 0.3s, box-shadow 0.3s;
}

.mobiledd-product:hover img {
  transform: scale(1.05); /* Scale up by 5% on hover */
}

#card {
  padding: 1.5rem 0.3rem 1.3rem 0.3rem;
  gap: 0.5rem;
  background-color: #f8f8f8;
  align-items: center;
  justify-content: center;
  max-width: 120px;
  max-height: 130px;
  position: relative;
  border-radius: 1.2rem;
  text-align: center;
}

.mobiledd-img {
  max-width: 65%;
}

.new {
  font-size: 9px;
  font-weight: 700;
  background-color: #1f81f1;
  color: var(--secondary-color);
  padding: 1px 4px;
  border-radius: 12px;
  position: absolute;
  top: 9px;
  left: 12px;
  display: none;
}

#card.active .new {
  display: flex;
}

.mobile-products {
  position: relative;
}

.mobile-products::before {
  content: "";
  height: 100%;
  width: 1px;
  background-color: #ccc;
  position: absolute;
  left: -4%;
}

.galaxy-tab {
  gap: 0;
}

/* For User dropdown */

.user-dd .content {
  border-radius: 20px;
  top: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.user-dd .content::before {
  height: 0;
}

.user-dd .content-wrapper {
  margin: 1.4rem 3.5rem 1.4rem 1.4rem;
}

.user-dd .content-wrapper ul {
  gap: 1rem;
}

/* FEATURE: Search Popout */
/* 
.search-overlay {
  opacity: 0;
  z-index: 10;
} */

.search-container {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  pointer-events: none;
}

.search-container.active {
  opacity: 1;
  pointer-events: auto;
  z-index: 17;
}

.search-overlay.active {
  opacity: 0.93;
  pointer-events: auto;
  z-index: 16;
}

.search-content {
  width: 47%;
}

.search-block {
  background-color: #fff;
  padding: 1.3rem;
  border-radius: 1.5rem;
  gap: 2rem;
}

.search-block ul {
  gap: 0.7rem;
}

.search-block ul a {
  font-size: clamp(12px, 0.95vw, 1rem);
}

.search-block .heading {
  margin-bottom: 1rem;
}

.search-block h4 {
  font-size: clamp(14px, 1.25vw, 1.3rem);
}

.form {
  gap: 0.5rem;
}

.search-input {
  width: 70%;
  font-size: clamp(14px, 1.5vw, 1.6rem);
}

.search-history::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  top: -15px;
}

.close-btn,
.search-btn,
.clear-all-btn {
  background-color: transparent;
  padding: 0;
}

.close-btn:hover,
.search-btn:hover {
  background-color: transparent;
}

.close-btn {
  position: absolute;
  top: 2%;
  right: 1%;
}

/* FEATURE: Hamburger menu */

.ham-menu {
  display: flex;
}

.side-menu {
  height: 100%;
  width: 0;
  background-color: #fff;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: 15;
  transition: width 0.2s ease-in-out;
}

.menu-overlay.active {
  opacity: 0.8;
  pointer-events: auto;
  z-index: 14;
}

.side-menu.active {
  width: 350px;
}

.sidedown-menu .menu {
  /* margin-inline: 1rem; */
  cursor: pointer;
  z-index: 1;
}

.side-content {
  height: 590px;
  max-width: 0;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: 2;
  background: white;
}

/* #cd {
  cursor: default;
} */

.cd {
  cursor: default;
}
.side-nav {
  margin: 1rem;
  gap: 5px;
}

.side-search-bar {
  width: 100%;
  height: 45px;
  border-radius: 2rem;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  padding-left: 10px;
  cursor: pointer;
  transition: width 0.2s ease-in-out;
}

.back-btn {
  display: none;
  cursor: pointer;
}

.side-close-btn {
  cursor: pointer;
}

.back-btn.active {
  display: inline-block;
}

.side-content-wrapper {
  width: 100%;
  height: 590px;
  overflow-y: auto;
  /* padding: 1rem; */
}

.side-content-wrapper h4 {
  font-size: clamp(1.3rem, 2vw, 1.6rem);
  margin-bottom: 1rem;
}

.sidedown-menu.active .side-content {
  min-width: 100%;
}

.shifting {
  overflow-y: scroll;
  height: 550px;
}

.shifting > div {
  padding-block: 1.3rem;
  margin-inline: 1.1rem;
}

.bt {
  border-top: 0.7px solid #ccc;
}

.g1 {
  gap: 1.2rem;
}

.shifting .spt {
  padding-top: 0.5rem;
}

.shifting a {
  font-size: clamp(1.1rem, 1.45vw, 1.4rem);
}

/* .shifting li:hover {
  font-weight: 600;
  cursor: pointer;
} */

.bold-hover:hover,
.bold-hover:hover h5 {
  font-weight: 600;
  cursor: pointer;
}

.pr {
  transform: rotate(270deg);
}

/* INNER DROPDOWN */

.sd-menu {
  width: 100%;
}

.menus {
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.sd-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.sd-menu.active .sd-list {
  max-height: 500px;
}

.menus h5 {
  font-size: 1.05rem;
  font-weight: 400;
}

.sd-list {
  background-color: #f7f7f7;
}

.m15 {
  margin: 1rem 2rem;
}

.mi8 {
  margin-inline: 0.8rem;
}

.g5 {
  gap: 0.5rem;
}

.mt8 {
  margin-top: 0.8rem;
}

/* END: Header Styles */

/* START: Hero Styles */

/* END: Hero Styles */

/* START: Latest Deals Styles */

/* END: Latest Deals Styles */

/* START: Exclusive Deals Styles */

/* END: Exclusive Deals Styles */

/* START: Mobile Products Styles */

/* END: Mobile Products Styles */

/* START: TV and Home Appliances Styles */

/* END: TV and Home Appliances Styles */

/* START: Recommended Products Styles */

/* END: Recommended Products Styles */

/* START: Story Styles */

/* END: Story Styles */

/* START: Search Bar Styles */

/* END: Search Bar Styles */

/* START: Notice Styles */

/* END: Notice Styles */

/* START: Footer Styles */

/* END: Footer Styles */

/* START: Responsiveness Styles */

@media (max-width: 1279px) {
  .ham-menu {
    display: flex;
  }

  .product-menu,
  .support-menu {
    display: none;
  }
}

/* Breakpoints */
/* 1. 535px */
/* 2. 1280px */

/* END: Responsiveness Styles */

/* FEATURE: Feature Name */

/* temp code */

/* end temp code */
