/* START: Global Styles */

/* END: Global Styles */

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --accent-color: #f5f5f5;
  --primary-color-lighter: hsl(0, 0%, 20%);
  --secondary-color-darker: hsl(0, 0%, 90%);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  background-color: #fff;
  color: #000;
  cursor: default;
}

main {
  position: relative;
}

h1 {
  /*This is for the hero section's header cuz this summarizes the purpose of the website*/
  font-size: clamp(1.5rem, 3vw, 4rem);
  font-weight: 650;
}

h2 {
  font-size: clamp(1.4rem, 2.55vw, 3.4rem);
  font-weight: 650;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

h4 {
  font-size: clamp(13px, 0.93vw, 1rem);
  font-weight: 600;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

p,
a {
  font-size: 12px;
}

/* a:hover {
  text-decoration: underline;
  color: #0000ff;
  cursor: pointer;
} */

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
}

button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.6rem 1.3rem;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color-lighter);
}

/* START: Utility Styles */

.container {
  max-width: 1500px;
  padding-inline: 1rem;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.transparent-bg {
  background-color: transparent;
}

.lbg-hover:hover {
  background-color: var(--primary-color-lighter);
}

/* FEATURE: Hover double and Focus underline effect */

.underlined-btn,
.focus-un-btn {
  color: var(--primary-color);
  background-color: transparent;
}

.underlined-btn:hover,
.focus-un-btn:hover {
  background-color: transparent;
}

.dynamic-un {
  position: relative;
  cursor: pointer;
}

.static-un {
  /*this is the acting underline for the button*/
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--primary-color);
  width: 100%;
  left: 0;
  bottom: -5px;
}

.dynamic-un::after {
  /*this will be the one appearing on hover*/
  content: "";
  height: 3px;
  bottom: -5px;
  left: 50%;
  position: absolute;
  background: var(--primary-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

/* BRO THIS IS HOLY GRAIL - The juice behind the two features above*/

.underlined-btn:hover .static-un {
  opacity: 0; /* Hide the acting underline on hover */
}

.underlined-btn:hover .dynamic-un::after,
.focus-un-btn:focus .dynamic-un::after {
  /*Show the underline hover effect*/
  width: 100%;
  left: 0;
}

/* FEATURE: hyperlink arrow */

.arrow-link {
  display: flex;
  align-items: center;
}

/* FEATURE: Keyword buttons */

.keyword-btn {
  color: var(--primary-color);
  background-color: transparent;
  border: 0.3px solid #ccc;
  padding: 0.3rem 0.7rem;
}

.keyword-btn:hover {
  background-color: var(--secondary-color-darker);
}

.hide {
  display: none;
}

/* .bold-p {
  font-weight: 600;
}

.large-p {
  font-size: clamp(14px, 1vw, 2);
} */

/* END: Utility Styles */

/* START: Header Styles */

header {
  z-index: 3;
}

nav {
  justify-content: space-between;
}

.nav-bar {
  gap: 2rem;
  align-items: center;
}

header .container button {
  font-weight: 550;
  font-size: clamp(0.77rem, 0.93vw, 1rem);
  background-color: transparent;
  color: var(--primary-color);
  padding: 0.4rem 0.6rem;
}

.dropdown-menu:hover button,
.no-dropdown:hover button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.container .icons button:hover {
  background-color: transparent;
}

/* FEATURE: Dropdown menu */

.left-start {
  left: 4%;
}

.right-start {
  right: 4%;
}

.dropdown-menu,
.no-dropdown,
.no-overlay,
.normal-menu {
  min-height: 70px;
  display: flex;
  align-items: center;
  z-index: 4;
}

.product-menu {
  align-items: center;
}

.content {
  position: absolute;
  background-color: var(--secondary-color);
  gap: 10px;
  top: 68px;
  border-radius: 0 0 20px 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 4;
}

.content-wrapper {
  margin: 1rem 4.5rem 2rem 1rem;
  gap: 3rem;
}

.content-wrapper li a:hover {
  text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
  cursor: pointer;
}

.sub-menu {
  gap: 1rem;
}

.sub-menu .flex {
  gap: 0.9rem;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.5px; /* Border height */
  background-color: #ccc; /* Border color */
}

.dropdown-menu:hover .content,
.no-overlay:hover .content {
  max-height: 800px;
}

.nav-overlay {
  position: absolute; /* Use absolute positioning to cover the entire viewport */
  top: 0;
  left: 0;
  height: 100%; /* Always set height to 100% */
  width: 100%; /* Set width to 100% of the viewport */
  background-color: #000;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out; /* Transition opacity for smooth effect */
  z-index: 2; /* Ensure it appears above other elements */
  pointer-events: none; /* Ensure it doesn't block mouse events when not visible */
}

.nav-overlay.active {
  opacity: 0.6; /* Set opacity to 0.6 when active */
  pointer-events: auto; /* Allow pointer events when active */
}

/* Specification for dropdown menu */

.normal-font li a {
  font-size: clamp(14px, 0.93vw, 1rem);
}

.sub-menu .normal-font {
  gap: 0.7rem;
}

.mobile .content-wrapper {
  margin-right: 1rem;
  margin-top: 0.8rem;
  gap: 3.7rem;
}

.cards-container {
  margin-top: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.8rem;
}

.mobiledd-product:hover {
  cursor: pointer;
}

.mobiledd-img img {
  transition: transform 0.3s, box-shadow 0.3s;
}

.mobiledd-product:hover img {
  transform: scale(1.05); /* Scale up by 5% on hover */
}

/* temp code */

#max-height {
  max-height: 800px;
}

/* end temp code */

#card {
  padding: 1.5rem 0.3rem 1.3rem 0.3rem;
  gap: 0.5rem;
  background-color: #f8f8f8;
  align-items: center;
  justify-content: center;
  max-width: 120px;
  max-height: 130px;
  position: relative;
  border-radius: 1.2rem;
  text-align: center;
}

.mobiledd-img {
  max-width: 65%;
  /* margin-top: 0.7rem; */
}

.new {
  font-size: 9px;
  font-weight: 700;
  background-color: #1f81f1;
  color: var(--secondary-color);
  padding: 1px 4px;
  border-radius: 12px;
  position: absolute;
  top: 9px;
  left: 12px;
  display: none;
}

#card.active .new {
  display: flex;
}

.mobile-products {
  position: relative;
}

.mobile-products::before {
  content: "";
  height: 100%;
  width: 1px;
  background-color: #ccc;
  position: absolute;
  left: -4%;
}

.galaxy-tab {
  gap: 0;
}
/* For User dropdown */

.user-dd .content {
  border-radius: 20px;
  top: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.user-dd .content::before {
  height: 0;
}

/* END: Header Styles */

/* START: Hero Styles */

/* END: Hero Styles */

/* START: Latest Deals Styles */

/* END: Latest Deals Styles */

/* START: Exclusive Deals Styles */

/* END: Exclusive Deals Styles */

/* START: Mobile Products Styles */

/* END: Mobile Products Styles */

/* START: TV and Home Appliances Styles */

/* END: TV and Home Appliances Styles */

/* START: Recommended Products Styles */

/* END: Recommended Products Styles */

/* START: Story Styles */

/* END: Story Styles */

/* START: Search Bar Styles */

/* END: Search Bar Styles */

/* START: Notice Styles */

/* END: Notice Styles */

/* START: Footer Styles */

/* END: Footer Styles */

/* START: Responsiveness Styles */

/* Breakpoints */
/* 1. 535px */
/* 2. 1280px */

/* END: Responsiveness Styles */

/* FEATURE: Feature Name */

/* temp code */

/* end temp code */
